[Service]
ExecStartPost=cp {{ davical_initial_certificate_path }} {{ davical_certificate_path }}
ExecStartPost=cp {{ davical_initial_key_path }} {{ davical_key_path }}
ExecStartPost=chmod 0640 {{ davical_certificate_path }}
ExecStartPost=chmod 0640 {{ davical_key_path }}
ExecStartPost=chown {{ service_user }}:{{ service_user }} {{ davical_certificate_path }}
ExecStartPost=chown {{ service_user }}:{{ service_user }} {{ davical_key_path }}
ExecStartPost={{ davical_refresh_command }}
ExecStartPost=/usr/bin/env sh -c "! systemctl --quiet is-enabled %i.service || systemctl try-reload-or-restart %i"
