#!/bin/bash

cp {{ davical_inital_cert_location }}/{{ external_domain }}.crt {{ davical_certificate_path }}
cp {{ davical_inital_cert_location }}/{{ external_domain }}.key {{ davical_key_path }}
chmod 0640 {{ davical_certificate_path }}
chmod 0640 {{ davical_key_path }}
chown {{ davical_service_user }}:{{ davical_service_user }} {{ davical_certificate_path }}
chown {{ davical_service_user }}:{{ davical_service_user }} {{ davical_key_path }}